$white: #fff;
$dark-shadow:#894958;
$dark-blue: #1f305e;


.wrapperContent {
    
    background-color: $white;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
  }

  .container {
    grid-template-rows: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
    margin-left: 80px;
    margin-top:50px;
    height: auto;
  }

  .office {
    position: relative;
    overflow: auto;
    cursor: pointer;
    font-size: 8x;
    color: $dark-blue;
    background-color: $white;
    padding-left: 1em;
    padding-top: 0.8em;
    border-radius: 75px 75px;
    display: inline-flex;
    width:80px;
    height:80px;
    margin: 1.5em;
    box-shadow: 3px 3px 10px 2px grey;
    text-align: center;
    
  
    &:hover, &:active {
      box-shadow: 3px 3px 10px 2px $dark-shadow;
    }
  }

.selectedOffice{
  position: relative;
  overflow: auto;
  cursor: pointer;
  font-size: 8x;
  color: $dark-blue;
  background-color: $white;
  padding-left: 1em;
  padding-top: 0.8em;
  border-radius: 75px 75px;
  display: inline-flex;
  width:80px;
  height:80px;
  margin: 1.5em;
  box-shadow: 3px 3px 10px 2px grey;
  text-align: center;
  box-shadow: 3px 3px 10px 2px $dark-shadow;
}

button{

  font-size: 70%;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  
}

.reactCalendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.bottomDiv{
  padding-top:30px; 
  display:flex;
  justify-content:center;
}

.summary{
  background-color: $white;
  margin-top: 50px;
  margin-left:55px;
  margin-bottom: 30px;
  height: 250px;
  width: 200px;
  box-shadow: 3px 3px 10px 2px $dark-shadow;
  text-align: center;

}

h3{
  padding-top: 20px;
}